.sessionClass {
    padding: 5px;
}
.sessionClass > div {
    clear: both;
}

.sessionClass div.alternate {
    background-color: #f4f6f4;
}

.sessionClass .value {
    color: #057612;
    font-weight: normal;
    font-size:140%;
    padding: 5px;
}

.sessionClass .item {
    color: #495982;
    font-weight: bold;
    font-size:140%;
    padding: 5px;
    width: 150px;
    float: left;
}

/*Last purchase */
.lastPurchase {
    padding: 10px;
    color: #686667;
}
.lastPurchase > div {
    clear: both;
}

.lastPurchase div.alternate {
    background-color: #f4f6f4;
}

.lastPurchase .value {
    color: #057612;
    font-weight: normal;
    padding: 2px;
}

.lastPurchase .item {
    color: #495982;
    font-weight: bold;
    padding: 2px;
    width: 150px;
    float: left;
}

.lastPurchase .thead {
    color: #495982;
    font-weight: bold;
    padding: 2px;
}

/* Usage */
.usageClass div.alternate {
    background-color: #f4f6f4;
}


.usageClass .lbl {
    padding: 5px;
    color: #495982;
    font-weight: bold;
    font-size:140%;
    width: 150px;
    float: left
}

.usageClass .val {
    padding: 5px;
    color: #057612;
    font-weight: normal;
    font-size:140%;
}



.ttt .x-btn-inner{
    font-size:20px;
    color: #fff;
}

.x-btn-button{
    font-size:20px;
    color: #6b6a72;
}



.fieldReq {
    font-weight: bold;
    color: #980820;
}

.fieldOpt {
    font-weight: bold;
    color: #6b6a72;
}


.divAbout {
    margin: 5px;
}

.imgAbout {
    text-align: center;
}

.lblAbout {
    float:left;
    padding: 5px;
    color: #495982;
    font-weight: bold;
    width:80px;
}
.lblInfo{
    padding: 5px;
}

.cntrOR {
    text-align: center;
    font-size:18px;
    color: #6b6a72;
    font-weight: bold;
}

.st {
    font-weight: bold;
    color: #495982;
}

.dyn {
    color: #057612;
}



/* ========= GLYPHS =================== */

@font-face{
    font-family:'typicons';
    src:    url('../fonts/typicons/typicons.eot');
    src:    url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
            url('../fonts/typicons/typicons.woff') format('woff'),
            url('../fonts/typicons/typicons.ttf') format('truetype'),
            url('../fonts/typicons/typicons.svg#typicons') format('svg');
    font-weight:normal;
    font-style:normal
}


// fudge factors for pictos buttons because the glyphs are the wrong size:
.x-btn-default-small,
.x-btn-default-toolbar-small,
.x-btn-plain-toolbar-small,
.x-btn-plain-toolbar-small {
    .x-btn-glyph {
        font-size: 20px;
    }
}

.x-tab .x-tab-glyph,
.x-panel-header .x-panel-header-glyph,
.x-window-header .x-window-header-glyph,
.x-menu-item-glyph {
    font-size: 20px;
}

.x-btn-default-medium,
.x-btn-default-toolbar-medium,
.x-btn-plain-toolbar-medium {
    .x-btn-glyph {
        font-size: 32px;
    }
}

.x-btn-default-large,
.x-btn-default-toolbar-large,
.x-btn-plain-toolbar-large {
    .x-btn-glyph {
        font-size: 43px;
    }
}


.rdThumb {
    height  : 90px;
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #86a5e5;
    background: #f3f5f9;
    cursor:pointer;
    display:inline-block;
}

.rdThumb:hover{
    border: 2px solid #526b9d;
    background: #c4cbd7;
}

.rdThumb.x-item-selected {
    border: 1px solid #fd6473;
    background: #e1c8d4;
}

.x-dataview-item {
    display:inline-block;
}


/* -- */
.rdDescription {
    color       : #0b8db8;
    font-size   : 10px;
    margin      : 2px;
    text-align  : center;
}

.rdCenter h2 {
    color       : #495982;
    font-weight : bold;
    padding     : 5px;
    text-align  : center;
    margin      : 0px;
    font-size   : 14px;
}

.frmField {
	padding: 7px 0px 0px 0px;
}

