/*-- Toaster --*/
/* The toaster div has different colours depending on the message type */
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:2147483647;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}

#msg-div .msg p {
    margin: 0;
}

#msg-div .warn {
    border: 2px solid #fba601;
    background: #ffe4af;
}

#msg-div .info {
    border: 2px solid #0ca630;
    background: #d0f8da;
}

#msg-div .error {
    border: 2px solid #d91717;
    background: #ffe3e3;
}
/*-- End Toaster--*/

/*-- Logo --*/
#poweredby {
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 15000;

    /* IE 5-7 */
    filter: alpha(opacity=90);
    /* Netscape */
    -moz-opacity: 0.9;
    /* Safari 1.x */
    -khtml-opacity: 0.9;
    /* Good browsers */
    opacity: 0.9;
}


#poweredby div {
    position: relative;
    width: 380px;
    height:80px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div,
.x-ie7 #poweredby div,
.x-ie8 #poweredby div {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png', sizingMethod='scale');
}
/*-- End Logo --*/

/* ========== FIXME From here onwards we need to cleanup some stuff ============== */

/*-- Label experiment --*/
.lblRdCheck {
    color: #2F4078; 
    font-size:16px;
    padding-left: 5px;
    padding-right: 5px;
}


.lblRdReq {
    color: #2F4078; 
    font-size:16px;
    font-weight: bold;
}

.lblRdReq-after {
    margin-left: 10px;
}


.lblRd {
    color: #2F4078; 
    font-size:16px;
}

.x-toolbar .lblRd {
    font-size:14px;
}

.x-toolbar .lblWizard {
    color: #2F4078; 
    font-size:16px;
    padding: 5px;
}

.lblRd .x-btn-inner {
    color: #2F4078; 
    font-size:14px !important;
}

.lblRdGrouping {
    color: #737583; 
    font-size:12px;
}


.b-btn_info {
    background-image:url(../images/32x32/info.png);
}


.b-btn_connect {
    background-image:url(../images/32x32/ok.png);
}

.b-btn_ok {
    background-image:url(../images/32x32/ok.png);
}

.combo-wrapper {
    border: 1px solid #ccc;
    padding: 2px;
}
.combo-country {
    font-weight: bold;
    font-size: 16px;
}

.combo-country img{
    float: right;
}
.combo-language {
    font-size: 12px;
    color: #666666;
}

.combo-main {
    font-weight: bold;
    font-size:14px;
}

.combo-detail {
    color: #392bef;
    font-size:12px;
}


/*----------------------------------------------------
    Start Button
*/

.ux-start-button-icon { /*Check form orig what this is suppose to do */
    background-image: url(../images/16x16/menu.png) !important;
    background-color: transparent;
}

.ux-start-button .x-btn-arrow {
    background-image: none;
}

.ux-start-button .x-btn-arrow-right {
    padding-left: 10px;
}

.ux-taskbar {
    padding-left: 4px !important;
}

.menu {
    background-image:url(../images/16x16/menu.png);
}

.translate {
    background-image:url(../images/16x16/i18n.png);
}

.rights {
    background-image:url(../images/16x16/lock.png);
}


/*--- For i18n -----*/


/*--- 16x16 icons --*/
.view {
    background-image:url(../images/16x16/view.png);
}

.edit {
    background-image:url(../images/16x16/edit.png);
}

.reload {
    background-image:url(../images/16x16/add.png);
}

.add {
    background-image:url(../images/16x16/add.png);
}

.delete {
    background-image:url(../images/16x16/delete.png);
}

.copy {
    background-image:url(../images/16x16/copy.png);
}

.admin {
    background-image:url(../images/16x16/admin.png) !important;
}

.exit {
    background-image:url(../images/16x16/exit.png);
}

.settings {
    background-image:url(../images/16x16/settings.png);
}

.key {
    background-image:url(../images/16x16/key.png);
}

.users {
    background-image:url(../images/16x16/users.png) !important;
}

.user {
    background-image:url(../images/16x16/user.png) !important;
}

.vouchers {
    background-image:url(../images/16x16/vouchers.png) !important;
}

.group {
    background-image:url(../images/16x16/group.png) !important;
}

.accounting {
    background-image:url(../images/16x16/accounting.png) !important;
}

.realms {
    background-image:url(../images/16x16/realms.png) !important;
}

.profiles {
    background-image:url(../images/16x16/profiles.png) !important;
}

.stats {
    background-image:url(../images/16x16/stats.png) !important;
}

.list {
    background-image:url(../images/16x16/list.png) !important;
}

.home {
    background-image:url(../images/16x16/home.png) !important;
}

.nas {
    background-image:url(../images/16x16/nas.png) !important;
}

.tags {
    background-image:url(../images/16x16/tags.png) !important;
}

.access_provider {
    background-image:url(../images/16x16/access_provider.png) !important;
}

.note {
      background-image:url(../images/16x16/note.png) !important;
}

.help {
      background-image:url(../images/16x16/help.png) !important;
}

.components {
      background-image:url(../images/16x16/components.png) !important;
}

.devices {
      background-image:url(../images/16x16/devices.png) !important;
}

.activity {
      background-image:url(../images/16x16/activity.png) !important;
}

.map {
      background-image:url(../images/16x16/unknown.png) !important;
}

.setup {
      background-image:url(../images/16x16/setup.png) !important;
}

.tools {
      background-image:url(../images/16x16/tools.png) !important;
}

.debug {
      background-image:url(../images/16x16/bug.png) !important;
}

.logfile_viewer {
      background-image:url(../images/16x16/logfile_viewer.png) !important;
}

.radius_client {
      background-image:url(../images/16x16/radius_client.png) !important;
}

.infoWin {
      background-image:url(../images/16x16/info.png) !important;
}

.dynamic_pages {
      background-image:url(../images/16x16/dynamic_pages.png) !important;
}

.pdf {
      background-image:url(../images/16x16/pdf.png) !important;
}

.graph {
      background-image:url(../images/16x16/graph.png) !important;
}

.mesh {
      background-image:url(../images/16x16/mesh.png) !important;
}


.mapDiv {
    height: 210px;
    width:  310px;
    margin: 0px;
}

.divMapAction {
    margin: 10px;
    padding: 5px;
}

.lblMap {
    width: 125px;
    float: left;
    text-align: left;
    color: #676d76;
    font-size:14px;
    margin: 1px;
}

.lblValue {
    font-size:16px;
    color: #2F4078;
    margin: 2px;
}

.ux-filtered-column .x-column-header-inner {
    background-image:url(../images/16x16/filter.png) !important;
    background-repeat:no-repeat;
    padding-left: 16px;
}

.x-grid-cell .note {
    background-image:url(../images/16x16/note.png) !important;
    background-repeat:no-repeat;
    padding-left: 20px;
    color: #676d76;
    font-size:12px;
    height: 17px;
}


/*--- Big icons ---*/
.b-edit {
    background-image:url(../images/32x32/edit.png);
}

.b-reload {
    background-image:url(../images/32x32/reload.png);
}

.b-reload_time {
    background-image:url(../images/32x32/reload_time.png);
}

.b-add {
    background-image:url(../images/32x32/add.png);
}

.b-delete {
    background-image:url(../images/32x32/delete.png);
}

.b-user_add {
    background-image:url(../images/32x32/user_add.png);
}

.b-user_edit {
    background-image:url(../images/32x32/user_edit.png);
}

.b-user_delete {
    background-image:url(../images/32x32/user_delete.png);
}

.b-help {
    background-image:url(../images/32x32/help.png);
}

.b-next {
    background-image:url(../images/32x32/next.png);
}

.b-prev {
    background-image:url(../images/32x32/back.png);
}


.b-right_add {
    background-image:url(../images/32x32/right_add.png);
}

.b-right_edit {
    background-image:url(../images/32x32/right_edit.png);
}

.b-right_delete {
    background-image:url(../images/32x32/right_delete.png);
}

.b-comment {
    background-image:url(../images/32x32/comment_add.png);
}

.b-copy {
    background-image:url(../images/32x32/copy.png);
}

.b-meta_edit {
    background-image:url(../images/32x32/meta_edit.png);
}

.b-expand {
    background-image:url(../images/32x32/expand.png);
}

.b-password {
    background-image:url(../images/32x32/password.png);
}

.b-map {
    background-image:url(../images/32x32/map.png);
}

.b-filter {
    background-image:url(../images/32x32/filter.png);
}

.b-csv {
    background-image:url(../images/32x32/csv.png);
}

.b-note {
    background-image:url(../images/32x32/note.png);
}

.b-disable {
    background-image:url(../images/32x32/disable.png);
}

.b-message {
    background-image:url(../images/32x32/message.png);
}

.b-test {
    background-image:url(../images/32x32/test.png);
}

.b-save {
    background-image:url(../images/32x32/save.png);
}

.b-connect {
    background-image:url(../images/32x32/connect.png);
}

.b-kick {
    background-image:url(../images/32x32/kick.png);
}

.b-close {
    background-image:url(../images/32x32/close.png);
}

.b-settings {
    background-image:url(../images/32x32/settings.png);
}

.b-snapshot {
    background-image:url(../images/32x32/snapshot.png);
}

.b-clear {
    background-image:url(../images/32x32/clear.png);
}

.b-stop {
    background-image:url(../images/32x32/stop.png);
}

.b-start {
    background-image:url(../images/32x32/start.png);
}

.b-time_add {
    background-image:url(../images/32x32/time_add.png);
}

.b-mobile {
    background-image:url(../images/32x32/mobile.png);
}

.b-desktop {
    background-image:url(../images/32x32/desktop.png);
}

.b-pdf {
    background-image:url(../images/32x32/pdf.png);
}

.b-graph {
    background-image:url(../images/32x32/graph.png);
}

.b-view {
    background-image:url(../images/32x32/view.png);
}


.language16 {
    background-image:url(../images/16x16/language.png);
}

.key16 {
    background-image:url(../images/16x16/key.png);
}

.country16 {
    background-image:url(../images/16x16/flag_usa.png);
}

.copy16 {
    background-image:url(../images/16x16/copy.png);
}

td.grdBold div{
    font-weight: bold;
}

td.grdGrey div{
    color: #4b4b4b;
}

td.grdItalic div{
    font-style:italic;
}

td.grdEditable div {
    border: 1px solid #a9bfd3;
}

.regMsg {
    margin: 15px;
    font-size:16px;
    color: #6b6a72;
}

.bodyCls {
    background-color: white;
}

.new {
    background-color: #12f6f9;
    font-style:italic;
    font-size:12px;
}


/*-- Label experiment --*/
.lblYfi {
    color: #008700; 
    font-size:16px;
}

.b-btn_connect {
    background-image:url(../images/32x32/ok.png);
}


td.dirk div {
    border: 1px solid #a9bfd3;
}


/*--- END i18n -----*/


/*----------------------------------------------------
    FIN: TaskBar This is taken from the sample ExtJS css
*/

.ux-taskbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.x-ie6 .ux-taskbar .x-toolbar {
    border-color: #d3e1f1;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.ux-taskbar .x-toolbar {
    height: 28px;
}

.ux-taskbar {
    height: 28px;
    padding: 0;
}

.x-toolbar .x-toolbar {
    padding: 0;
}

/*----------------------------------------------------
    FIN: Desktop DataView
*/

.ux-wallpaper {
    background-color: #3d71b8;
}


.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 70px;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}

.ux-desktop-shortcut.x-view-over {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #2F4078;
}


/* Fin Desktop shortcuts */
.vouchers-shortcut {
    background-image: url(../images/48x48/vouchers.png);
}

.byod-shortcut {
    background-image: url(../images/48x48/byod.png);
}

.users-shortcut {
    background-image: url(../images/48x48/users.png);
}

.activity-shortcut {
    background-image: url(../images/48x48/activity.png);
}

.password-shortcut {
    background-image: url(../images/48x48/key.png);
}

/* Fin Fix for 16x16 tabicons */

.x-tab-icon{
background-position: left center;
}


/* EXP for check column */
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-grid-checkheader {
/*
    width: 13px;
    height: 13px;
    background-image: url('../images/checkbox.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    display: block;
    margin: auto;
*/
    width: 17px;
    height: 17px;
    background-image: url('../images/16x16/no.png');
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    display: block;
    margin: auto;

}

.x-grid-checkheader-checked {
   /* background-position: 0 -13px;*/
    background-image:url(../images/16x16/yes.png);
}

.x-grid-checkheader-disabled {
    background-position: -39px 0;
}

.x-grid-checkheader-checked-disabled {
    background-position: -39px -13px;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/* EXP column display yes/no */
.noRight {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #f6cecf;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: #6b032f;
    font-size:12px;
}

.hasRight {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #d4e0ce;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: #1e5304;
    font-size:12px;
}

/* Note rather replace the .hasRight and .noRight with a more generic class eg. red or green */

.fieldRed {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #f6cecf;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #6b032f;
    font-size:12px;
}

.fieldGreen {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #d4e0ce;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #1e5304;
    font-size:12px;
}

.fieldBlue {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #c5f5fd;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #1e5304;
    font-size:12px;
}

.fieldOrange {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #f6dbc5;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #1e5304;
    font-size:12px;
}

.fieldGrey {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #dcddde;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #5c5d5e;
    font-size:12px;
}

.fieldYellow {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #fbf2a2;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 1px 1px 1px 5px;
    color: #5c5d5e;
    font-size:12px;
}

.txtGrey {
    color: #98989b;
}

.txtGreen {
    color: #2c7607;
}

.txtRed {
    color: #d92435;
}

.txtBlue {
    color: #5c88e0;
}

.txtBold {
    font-weight: bold;
}

.green_round {
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #0ca630;
    background: #d0f8da;
}

.blue_round {
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #4a709b;
    background: #d3dfec;
}

.red_round {
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #d92435;
    background: #f1e2e2;
}

.fileViewer {
    padding: 10px;
    margin: 2px;
    background: black;
    color: white;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}



.gridRealm.availAll {
     border-radius: 8px;
    -moz-border-radius: 8px;
    background: black;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: white;
    font-size:12px;
}

.gridTag {
     border-radius: 8px;
    -moz-border-radius: 8px;
    background: #e7edf6;
    border: 1px solid #616b77;
    margin-top: 1px;
    padding: 1px 1px 1px 5px;
    color: #727982;
    font-size:10px;
}

.gridComment .x-grid-cell-inner {
    color: #676d76;
    font-size:12px;
}

.gridTree .x-grid-cell-inner {
    color: #676d76;
    font-size:12px;
/* May have to play around with the bottom items */
    line-height: 16px;
    padding-bottom: 0;
}

/* Windows needs a banner */
.banner {
    width: 100%;
    height: 100%;
   /* background-color: #f5fbfb; */
   /* background-color: #7394b1; */
    background-color: #f3f6fb;
}

.banner h1{
    margin-left: 52px;
    padding: 10px;
    /*color: #555;*/
    /*color: white;*/
    color: #ced5db;
    font-size:25px;
  /*  text-align: left;*/

}


.multiLine .x-grid-cell-inner {
    white-space: normal;
    color: #676d76;
    font-size:12px;
}

/*Wallpaper selection */
.thumb-wrap {
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #86a5e5;
    background: #f3f5f9;
}

.thumb-wrap:hover{
    border: 2px solid #526b9d;
    background: #c4cbd7;
}

.thumb-wrap img {
    cursor:pointer;
}

.thumb-wrap.x-item-selected {
    border: 1px solid #fd6473;
    background: #e1c8d4;
}

.thumb-wrap h1{
    padding: 10px;
    color: #526b9d;
    font-size:20px;
}

.thumb-wrap .description{
    padding: 10px;
    color: #526b9d;
    font-size:14px;
    font-style:oblique;
}




